<div class="row">
    <h1>Soft & Hard Skills</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [radius]="100"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [showImage]="true"
  [imageSrc]="'../assets/iconos/html.png'"
  [imageWidth]="90"
  [imageHeight]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [lazy]="true"
  [animationDuration]="500"
  [outerStrokeColor]="'#0B5345'"
  [innerStrokeColor]="'#0B5345'"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [radius]="100"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [showImage]="true"
  [imageSrc]="'../assets/iconos/css.png'"
  [imageWidth]="90"
  [imageHeight]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [lazy]="true"
  [animationDuration]="500"
  [outerStrokeColor]="'#0B5345'"
  [innerStrokeColor]="'#0B5345'"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [showImage]="true"
  [imageSrc]="'../assets/iconos/js.png'"
  [imageWidth]="90"
  [imageHeight]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [lazy]="true"
  [animationDuration]="500"
  [outerStrokeColor]="'#0B5345'"
  [innerStrokeColor]="'#0B5345'"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [showImage]="true"
  [imageSrc]="'../assets/iconos/grupal.png'"
  [imageWidth]="90"
  [imageHeight]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [lazy]="true"
  [animationDuration]="500"
  [outerStrokeColor]="'#0B5345'"
  [innerStrokeColor]="'#0B5345'"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="60"
  [radius]="100"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [showImage]="true"
  [imageSrc]="'../assets/iconos/git.png'"
  [imageWidth]="90"
  [imageHeight]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [lazy]="true"
  [animationDuration]="500"
  [outerStrokeColor]="'#0B5345'"
  [innerStrokeColor]="'#0B5345'"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [showImage]="true"
  [imageSrc]="'../assets/iconos/eng.png'"
  [imageWidth]="90"
  [imageHeight]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [lazy]="true"
  [animationDuration]="500"
  [outerStrokeColor]="'#0B5345'"
  [innerStrokeColor]="'#0B5345'"
></circle-progress>
</div>


</div>
