<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-md-7 parte1">
                <h1>Proyecto 1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita assumenda ab, molestiae eaque sint aut commodi quia cum vitae libero, voluptatum odit tenetur minima possimus laborum atque voluptate facilis officia.</p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img src="../../../assets/project1.jpg" class="img-fluid img-proyecto">
        </div>

    </div>
</div>
